.Card-type {
    
    text-align: center;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 5px auto;
    text-align: center;

    
  }
  
  .price {
    font-size: 18px;
    padding-bottom: 5px;
    margin-top: 5px;
  }